@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #1D335E;
}

.wrapper {
  display: flex;
  width: 100%;
}

.wrapper .sidebar{
  position: relative;
}

hr {
  height: 1px;
  color: #123455;
  background-color: #123455;
  border: none;
}

.logo {
  position:relative;
  font-weight:800;
  font-size: 20px;
  margin: 30px;
  text-align:center;
  color:#FCC419;
}

.logo_img {
  width: 50px;
  position: relative;
  
}

.wrapper .sidebar .bg_shadow{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  z-index: 998;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.wrapper .sidebar__inner {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: #0E1B33;
  z-index: 999;
  transition: all 0.3s ease;
}

.wrapper .main_container {
  margin-left: 250px;
  width: calc(100% - 250px);
   transition: all 0.3s ease;
}

.wrapper .sidebar__inner .profile_info {
  padding: 10px 25px;
  text-align: center;
}

.wrapper .sidebar__inner .profile_info .profile_img {
  width: 125px;
  margin: 0 auto 10px;
}

.wrapper .sidebar__inner .profile_info .profile_img img {
  width: 100%;
  display: block;
}

.wrapper .sidebar__inner .profile_info .profile_data .name {
  font-size: 18px;
  font-weight: 700;
  color: #FCC419;
}

.wrapper .sidebar__inner .profile_info .profile_data .role {
  font-weight: 300;
  color: #88a3d0;
  margin-bottom: 15px;
  font-style:italic;
}

.wrapper .sidebar__inner .profile_info .profile_data .btn {
  padding: 10px;
  border: 1px solid #1fafec;
  border-radius: 25px;
  color: #1fafec;
  cursor: pointer;
}

.wrapper .sidebar__inner .profile_info .profile_data .btn:hover {
  background: #1fafec;
  color: #fff;
}

.wrapper .sidebar__inner .siderbar_menu li a {
  padding: 10px 10px;
  display: block;
  height: 50px;
  position: relative;
  margin: 10px;
  color: #fff;
  text-align: left;
  text-transform: uppercase;
  
  }

.wrapper .sidebar__inner .siderbar_menu li a .icon {
    font-size: 17px;
    margin-bottom: 5px;
  }

.wrapper .sidebar__inner .siderbar_menu li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: #FCC419;
  display: none;
}

.wrapper .sidebar__inner .siderbar_menu li a:hover,
.wrapper .sidebar__inner .siderbar_menu li a.active {
  background: #FCC419;
  color: #0E1B33;
}

.wrapper .sidebar__inner .siderbar_menu li a:hover:before,
.wrapper .sidebar__inner .siderbar_menu li a.active:before {
  display: block;
}


.wrapper .main_container .top_navbar {
  width: calc(100% - 250px);
  height: 60px;
  background: #FCC419;
  opacity:0;
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  position: fixed;
  top: 0;
  left: 250px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.125);
   transition: all 0.3s ease;
}

.wrapper .main_container .top_navbar .hamburger {
  width: 30px;
  height: 30px;
  position: relative;
  display: none;
}

.wrapper .main_container .top_navbar .hamburger .fas {
  color: #0E1B33;
  font-size: 25px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper .main_container .top_navbar .menu {
  display: flex;
  align-items: center;
}

.wrapper .main_container .top_navbar .menu li a {
  margin: 0 15px;
  padding: 0 15px;
  position: relative;
  color: #1d4c9e;
  font-weight: 400;
  text-align: center;
}

.wrapper .main_container .top_navbar .menu li a:before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #1fafec;
  display: none;
}

.wrapper .main_container .top_navbar .menu li a.active,
.wrapper .main_container .top_navbar .menu li a:hover {
  color: #1fafec;
}

.wrapper .main_container .top_navbar .menu li a:hover:before,
.wrapper .main_container .top_navbar .menu li a.active:before {
  display: block;
}

.wrapper .main_container .top_navbar .right_bar {
  display: flex;
  align-item: center;
}

.wrapper .main_container .top_navbar .right_bar li {
  margin: 0 10px;
}

.wrapper .main_container .top_navbar .right_bar .fas {
  font-size: 25px;
  cursor: pointer;
  color: #88a3d0;
}

.wrapper .main_container .top_navbar .right_bar li:hover,
.wrapper .main_container .top_navbar .hamburger .fas:hover {
  opacity: 0.5;
}


.wrapper .main_container .container {
  padding: 20px;
  margin-top: -20px;
}

.wrapper .main_container .container .announcement {
  background: #fff;
  padding: 20px;
  border-bottom: 10px solid #FCC419;
  font-size: 14px;
  margin-bottom: 15px;
}

.wrapper .main_container .container .item {
  background: #fff;
  padding: 20px;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 10px;
  margin-top:10px;
}

.wrapper .sidebar__inner .close{
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 25px;
    color: #fff;
  display: none;
  cursor: pointer;
}

.wrapper .sidebar__inner .close:hover{
  opacity: 0.5;
}

.container1 {
  background: #fff;
  padding: 20px;
  width:49%;
  font-size: 14px;
  margin-bottom: 15px;
  float:left;
  border-bottom: 10px solid #FCC419;
}

.container2 {
  background: #fff;
  padding: 20px;
  width:49%;
  font-size: 14px;
  margin-bottom: 15px;
  float: right;
  border-bottom: 10px solid #FCC419;
}

.contentbody {
  background: #fff;
  padding: 20px;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 10px;
  margin-top:10px;
  border-bottom: 10px solid #FCC419;
}

.container_body {
  color:#4f934f;
  font-weight: 100;
  font-size:xx-large;

}


.input-box{
  margin-top: 20px;
  width:600px;
  box-sizing: border-box;
}

.input-box header{
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
  font-size: 30px;
}

.input-field {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 10px 0 10px;
}

.input{
  height: 45px;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  outline: none;
  margin-bottom: 20px;
  color: #0E1B33;
}

.input-box .input-field label{
  position: absolute;
  top: 10px;
  left: 10px;
  pointer-events: none;
  transition: .5s;
}

.input-field .input:focus ~ label{
  top: -10px;
  font-size: 13px;

}

.input-field .input:valid ~ label{
  top: -10px;
  font-size: 13px;
  color: #0E1B33;
}

.input-field .input:focus, .input-field .input:valid{
  border-bottom: 1px solid #FCC419;
}

.submit{
  border: none;
  outline: none;
  height: 45px;
  background: #ececec;
  border-radius: 5px;
  transition: .4s;
}

.submit:hover{
  background: rgba(37,95,156,0.9);
  color:#fff;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 12px 12px 0 0;
  margin-top: 20px;
  margin-bottom: 50px;
  border: 1px solid black;
}

td,
th {
  padding: 10px 16px;
  text-align: center;
}

th {
  background-color: #0E1B33;
  color: #fafafa;
  font-family: 'Open Sans', Sans-serif;
  font-weight: bold;
}

tr {
  width: 100%;
  background-color: #fafafa;
  font-family: 'Montserrat', sans-serif;
}

tr:nth-child(even) {
  background-color: #eeeeee;
}

.cta{
    
  border-radius: 0rem;
  background:#FCC419;
  color:black;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 5px 5px 5px black;
}

.cta ion-icon{
  font-size: 15px;
  align-items:inherit;
}

.cta:hover{
  background:white;
  color: black;
  
}

@media screen and (max-width: 800px){
  .wrapper .sidebar__inner{
    left: -100%;
  }
  .wrapper .main_container,
  .wrapper .main_container .top_navbar{
    opacity: 100;
    margin-left: 0;
    width: 100%;
  }
  .wrapper .main_container .top_navbar{
    left: 0;
  }
  .wrapper.active .sidebar__inner{
    left: 0;
  }
  .wrapper .sidebar__inner .close,
  .wrapper .main_container .top_navbar .hamburger{
    display: inline-block;
    font-weight: 800;
  }
  .wrapper.active .sidebar .bg_shadow{
    visibility: visible;
    opacity: 0.7;
  }

  .wrapper .main_container .container {
    padding: 20px;
    margin-top: 50px;
  }
  
  .top_navbar_title{
    text-align:center;
    margin-left:250px;
    position:relative;
    font-weight: 800;
  }

}

@media screen and (max-width: 530px){
  .wrapper .main_container .top_navbar .menu{
    display: none;
  }
}