@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

body{
    margin:0;
    line-height: 1.5;
    background-color: #f3f2f1;
   }

.home{
    align-items: center;
    min-height: 100vh;
    background-image: url("../assets/home1.png");
    background-repeat: no-repeat;
    background-size:auto;
    background-position: center;
    padding:5em;
}

.home .content{
    padding-bottom: 20px;
}

.home .content h3{
    text-align: center;
    font-size: 4rem;
    font-weight: 800;
    color:#FCC419;
    text-shadow: 5px 5px 5px black;
}


.home .content p{
    align-items: center;
    text-align: center;
    font-size: 3rem;
    color:white;
    text-shadow: 5px 5px 5px black;
    padding:1rem 0;
    line-height: 1.5;
}

.btn{
    
    border-radius: 0rem;
    background:#FCC419;
    color:black;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 5px 5px 5px black;
}

.btn ion-icon{
    font-size: 20px;
    align-items:inherit;
}

.btn:hover{
    background:white;
    color: black;
    
}

section{
    padding:30px;
    text-align:justify;
}

.box {
    background-color:white;
    box-shadow: 2px 2px 10px rgb(49, 47, 47);
    width:50vh;
    display:inline-block;
    margin:11px;
    
 }
 
 .text {
    padding:11px 0;
    color:black;
    font-weight:bold;
    text-align:center;
    flex-wrap: wrap;
 }
 
 #container {
    text-align:center;
    flex-wrap: wrap;
 }
